@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: 'Rubik', sans-serif;
    @apply text-base font-normal text-black;
  }
  h1 {
    @apply text-5xl font-extrabold lg:text-6xl;
  }

  h2 {
    @apply mb-8 text-3xl font-bold lg:text-4xl;
  }

  h3 {
    @apply text-2xl font-medium lg:text-4xl;
  }

  h4 {
    @apply text-lg font-bold lg:text-xl;
  }

  h5 {
    @apply text-lg font-medium;
  }
}

@layer components {
  .primary-btn {
    @apply flex items-center justify-center py-1.5 mb-5 text-white bg-pink-400 rounded-full cursor-pointer w-44;
  }
}

@layer utilities {
  .bg-subscriber {
    background-image: url('/assets/images/subscriber_bg.png');
  }

  .bg-hero {
  }

  .custom-hero {
    -webkit-mask-image: url('/assets/images/hero_2.png');
    mask-image: url('/assets/images/hero_2.png');
  }

  .bg-custom {
    background-image: linear-gradient(
        90deg,
        rgba(187, 0, 75, 1),
        rgba(187, 0, 75, 1),
        rgba(187, 0, 75, 1),
        rgba(187, 0, 75, 1),
        rgba(187, 0, 75, 0.9),
        rgba(255, 252, 190, 0.4),
        transparent,
        transparent,
        transparent
      ),
      url('/assets/images/subsCover.png');
  }

  .bg-custom-mobile {
    background-image: linear-gradient(
        0deg,
        rgba(187, 0, 75, 1),
        rgba(187, 0, 75, 1),
        rgba(187, 0, 75, 1),
        rgba(187, 0, 75, 1),
        rgba(187, 0, 75, 0.9),
        rgba(255, 252, 190, 0.4),
        transparent,
        transparent,
        transparent
      ),
      url('/assets/images/subsCover.png');
  }

  .divide-dot {
    @apply list-disc list-inside;
  }
  .divide-dot li:first-child {
    @apply list-none;
  }
}
